h1 {
    font-size: 100px;
}

.landing {
    background: url("img/landing.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.register {
    background: url("img/register.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.container {
    font-size: 20px;
    color: white;
    font-family: "Arial Rounded MT Bold";
    position: absolute;
    right: 0px;
    padding: 40px;
}


.containertwo {
    font-size: 20px;
    color: white;
    font-family: "Arial Rounded MT Bold";
    position: absolute;
    right: 200px;
    left: 200px;
    top: 100px;
    bottom: 100px;
    padding: 85px;
    text-align: center;
}

.login {
    border-style: solid;
    border-color: white;
    text-align: center;
    padding-bottom: 23px;
    margin: 0 60px;
}

.submit {
    background-color: #740308;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.submit:hover {
    background-color: white;
    color: #740308;
    transition: 1s;

}

.register-button {
    background-color: #353535;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    opacity: 0.8;
}

.register-button:hover {
    background-color: white;
    color: #740308;
    transition: 1s;
    opacity: 1;
}

.textbox {
    height: 25px;
    width: 190px;
    font-size: 15px;
}

.already {
    color: white;
    margin: 20px;
    text-decoration: none;
}

.already:hover {
    color: #4ba17d;
    margin: 20px;
    text-decoration: none;
    transition: 1s;
}