<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Educaudio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="inside">
    <div class="containerthree">
        <a href="{% url 'logout' %}" class="close">Cerrar sesión</a>
        <h2 id="welcome">¡Bienvenida, {{ user.full_name }}!</h2>
        <h3>Tus clases de {{ classroom }} :</h3>
        <ul class="classess">
            {% for subject in subjects.subject %}
                <li class="subject"><a href="{% url 'subject' subject.pk %}" class="subjects">{{ subject.name }}   |   Prf. {{ subject.professor }} </a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>