<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Educamos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
   <div class="container">
       <h1>Educaudio</h1>
       <div class="login">
           <form class="form-signin" action="{% url "login" %}" method="post" accept-charset="utf-8">
                <h2>Iniciar Sesión</h2>
                <div>
                    <label for="inputEmail" class="sr-only">Usuario</label>
                    <input type="text" id="username" class="form-control" placeholder="Usuario" name="username" required autofocus>
                </div>
                <div>
                    <label for="inputPassword" class="sr-only">Contraseña</label>
                    <input type="password" id="password" class="form-control" placeholder="Contraseña" name="password" required>
                    <h6>¿Olvidaste tu contraseña?</h6>
                </div>
                {% csrf_token %}
                <button class="submit" type="submit">Ingresar</button>
          </form>
       </div>
    </div>
</body>
</html>