<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Educamos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="register">
<div class="containertwo">
    <div class="">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="register-button" type="submit" value="Crear cuenta">
            <div>
                <a href="{% url 'login' %}" class="already">¿Ya tienes cuenta? Inicia sesión</a>
            </div>

        </form>
    </div>
</div>
</body>
</html>