<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Education</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="inside">
    <a href="{% url 'logout' %}" class="close">Cerrar sesión</a>
    <h1>{{ subject.classroom.name }}  |  {{ subject }} Prf. {{ subject.professor }}</h1>
    <h3>Audios</h3>
    <ul>
        {% for audio in audios.audio %}
            <li><a href="{{ audio.file.url }}">{{ audio.name }}</a>  ||  {{ audio.date }}</li>
        {% endfor %}
    </ul>

    <h3>Tareas</h3>
    <ol>
        <li></li>
        <li></li>
        <li></li>
    </ol>

    {% if professor %}
        <form method="post" style="border: solid red; display: inline;" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
{#            <label for="name">Nombre: </label>#}
{#            <input id="name" type="text" name="name" maxlength="30">#}
{#            <input type="file" accept="audio/*;capture=microphone">#}
            <button type="submit">Subir</button>
        </form>
    {% endif %}

</body>
</html>